services:
  jenkins:
    build:
      context: .
      args:
        - CACHE_DATE
    image: custom-jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    user: root 
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    volumes:
      - jenkins_home:/var/jenkins_home:rw
      - /var/run/docker.sock:/var/run/docker.sock
    group_add:
      - 1001 
    networks:
      - jenkins_network

volumes:
  jenkins_home:

networks:
  jenkins_network:
    driver: bridge